<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro">
<div class='wrapper'>
	<div class='dashboard_header'>
		<div class='invoicer_div'>
			<h2 class='dashboard_header_text'>invoice r</h2>
		</div>
	</div>
</div>




<%= link_to "Log Out",login_path(@user.company_name),method: :delete %>(<%= @user.company_name %>)