<h3>Hi <%= @user.try(:first_name) %></h3>
<p> click the link below to recovery password,it expires after 3minutes.</p>
<div> <%= link_to 'My Password', edit_forgot_password_url(@user.forgot_token) %></div>


