<% provide(:title,'Create Invoice') %>

<div class='invoice'>
	<div class='invoice_header'>
		<div class='logo'>
			<p>
				
		<span class='logo_span'><%= image_tag @user.image_url(),alt:"company logo" %></span>
			</p>			
		</div>
		<div class='middle'>
		</div>
		<div class='invoice_text'>
		</div>
	</div>
</div>