

<% provide(:title,'HOME')%>
	<div class='welcome'>
		<h1>
			WELCOME TO InvoiceR
		</h1>

		
			<div class='welcome_links'>
				<ul>
				<li>
				<%= link_to 'Sign Up' , sign_up_index_path %>
				</li>
				<li>
				<%= link_to 'Login', login_index_path %>
				</li>
				</ul>
				
			
				
	</div>

				
	</div>


