<<<<<<< HEAD
<% provide(:title,'Confirm E-mail Notification') %>


<div>
	
Thank you <%= params[:id] %> for joining InvoiceR,please kindly verify your e-mail by following the link sent to it.


</div>
=======
<% provide(:title,'Confirm E-mail Notification') %>


<div>
	
Thank you <%= params[:id] %> for joining InvoiceR,please kindly verify your e-mail by following the link sent to it.


</div>
>>>>>>> 61693db46d311cfaea957361435f88a706f0f4c9
