<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro">
<% provide(:title,'Confirm E-mail Notification') %>

<% if @user.account_activated? %>

<div class='thank_you_div'>
	<div>
		<span><%= @user.company_name  %></span> account has been successfully activated! Thanks once again for joining InvoiceR !

		<p> You can now <%= link_to "login",login_index_path %> </p>

	</div>
</div>

<% else %>

	<div class='thank_you_div'>
		
		<div>
		Thank you <span><%= @user.company_name %></span> for joining InvoiceR,please kindly proceed to verifying your e-mail address by following the link sent to it.
		</div>


	</div>

<%end %>

